html * {
	color: #333333;
	font-family: cm;
}

#heading {
	margin: 50px;
}

#heading h1 {
	line-height: 1.2em;
}

#abstract {
	margin: 50px;
}

.abstract {
	line-height: 1.5em;
}

table.random-flips td {
	width: 20%;
	position: relative;
	text-align: center;
}